{% load  static %}
{% include 'components/header.html' %}
<link rel="stylesheet" href="{% static 'css/todo.css' %}">
<link rel="stylesheet" href="{% static 'css/show.css' %}">
<ul>
    {% for i in object_list %}
        <li>
        <h1>{{ i.task }}</h1>
        <p>{{ i.checked }}</p>
            <button><a href="/todo_list/{{ i.id }}/">Подробнее</a></button>
            <button><a href="/todo_list/{{ i.id }}/delete/">Удалить</a></button>
            <button><a href="/todo_list/{{ i.id }}/update/">Изменить</a></button>
        </li>
    {% endfor %}
</ul>
{% include 'components/footer.html' %}