<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    {% for i in todo_list %}
        <li>
        <h1>{{ i.task }}</h1>
        <p>{{ i.checked }}</p>
            <button><a href="/todo_list/{{ i.id }}/">Подробнее</a></button>
            <button><a href="/todo_list/{{ i.id }}/delete/">Удалить</a></button>
            <button><a href="/todo_list/{{ i.id }}/update/">Изменить</a></button>
        </li>
    {% endfor %}
</ul>
</body>
</html>