{% load static %}
{% include 'components/header.html' %}
    <link rel="stylesheet" href="{% static 'css/show_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/show.css' %}">

<!-- Контент с информацией о фильме -->
<div class="container mt-4">
    <div class="movie-card">
        <div class="card">
            <img src="{{movie_id.image.url}}" class="card-img-top" alt="Фильм">
            <div class="card-body">
                <h5 class="card-title">{{ movie_id.title }}</h5>
                <p class="card-text">{{ movie_id.description }}</p>
                <p><strong>Цена билета:</strong>{{ movie_id.price}} сом</p>
                <p><strong>Дата выхода:</strong>{{ movie_id.created_at }}</p>
                <p><strong>Жанр:</strong>{{ movie_id.genre_choices }}</p>
                <p><strong>Время:</strong>{{ movie_id.time_watch }}</p>
                <p><strong>Режиссер:</strong>{{ movie_id.director }}</p>
                <iframe width="100%" height="315" src="{{ movie_id.trailer }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- Блок для комментариев -->
    <div class="comment-section">
        <h5>Комментарии</h5>
        <div class="comment">
            <p> (2024-09-24): Офигенный фильм! Рекомендую! <strong>Оценка:</strong> 5</p>
        </div>
    </div>
</div>

<!-- Футер -->
{% include 'components/footer.html' %}